@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    width: 100%;
    height: max-content;
}

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

.visble-burger {
    overflow: hidden !important;
    height: 308px !important;
}

.unVisible {
    overflow: hidden;
    height: 0 !important;
    /* display: none !important; */
}

.visible {
    height: 40px;
    /* display: block !important; */
}

.header__title {
    width: max-content;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #5B2680;
    left: 0;
    right: 0;

    font-weight: 800;
    
    


}

.razdlBlock {

    margin: 0 auto;
    max-width: 600px;
}

.razdl {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 0 20px;
}

.menu {
    margin: 20px 0;
    height: max-content
}

nav {
    position: relative;
    width: 100%;
    height: 100%;

}


.menu__list {

    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.menu__item {

    border: 1px solid #5B2680;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.menu__burgerImg {
    display: none;
    height: 40px;
    margin: 0 auto;

}

.cross {
    display: none;

    width: 40px;
    border: none;
}

.menu__cross {

    height: 40px;
}

.menu__link {

    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-style: italic;
    color: #5B2680;
    transition: all 0.3s ease-in-out;
}

.menu__item:hover:not(:first-child) {
    background-color: #2a0e3e;
    box-shadow: 0px 0px 12px 6px rgba(82, 17, 107, 0.2);
}

.menu__item:hover .menu__link {
    color: white;
}

.menu__item:active {
    background-color: rgb(0, 0, 0);
    transition: all 0s ease-in-out;
}

.menu__item:active .menu__link {
    color: white;
}

.main {
    
    background-image: url('img/topImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
        
}
.main:hover .main__desc {
    text-shadow: #FC0 1px 0 10px;
        
}
.container__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 500px;
    color: rgb(255, 255, 255, 1);
  
}
.main__title {
    font-size: 52px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}
.main__text {
    transition: all 0.2s ease-in-out;
    margin-bottom: 40px;
}

.main__imgBox {
    height: 400px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(173, 174, 97);
    
}
.main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__link {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: rgba(173, 174, 97);
    outline: 1px solid green;
    color: white;
    transition: all 0.2s ease-in-out;
}

.main__link:hover {
    opacity: 0.5;
}
.main__link:active {
    transition: all 0s ease-in-out;
    opacity: 1;
    background: black;
}


@media screen and (max-width: 500px) {
    .header__title {
        height: 70px;
    }

    .menu {
        margin-top: 5px;
    }

    .menu__list {
        height: 0px;
        overflow: hidden;
        /* background-color: #2a0e3e; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu__item {
        margin-bottom: 0px;
    }

    .header__title {
        font-size: 32px;
    }

    .menu__burgerImg {
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .cross {
        display: block;
    }
    .main__imgBox {
        display: none;
    }

}